{%- liquid 
	assign pr_url = product.url
	unless placeholder_img
		assign placeholder_img = settings.placeholder_img
	endunless
	assign image = product.featured_media | default: placeholder_img
 -%}
<div class="t4s-product t4s-pr-grid t4s-col-12 t4s-pr-group t4s-col-item">
	<div class="t4s-row t4s-product-wrapper" timeline hdt-reveal="slide-in">
		<div class="t4s-col-item t4s-col t4s-product-img t4-pr t4s-oh">
			{%- if image != blank -%}
				<a href="{{ pr_url }}">
				    <div class="t4s_ratio t4s-bg-11" style="background: url({{ image | image_url: width: 1 }});--{{ imgatt }}aspect-ratioapt: {{ image.aspect_ratio | default: 1 }}">
						<img class="lazyloadt4s t4s-lz--fadeIn" data-src="{{ image | image_url: width: 1 }}" data-widths="[400,600,700,800,900,1000,1200,1400,1600]" data-optimumx="2" data-sizes="auto" src="{% render 'img_svg', w: image.width, h: image.height %}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt | escape }}" loading="lazy">
					</div>
			    </a>
			{%- endif -%}
		</div>
		<div class="t4s-col-item t4s-col t4s-product-info">
			<a class="t4s-widget__pr-title t4s-d-block" data-pr-href href="{{ pr_url }}">{{ product.title }}</a>
      		{%- render 'product-price', class_price: 't4s-widget__pr-price', product: product, price_varies_style: price_varies_style, isGrouped: false, show_badge_save: true -%}
		</div>
	</div>
</div>
 