<div class="t4s-product-img t4s_ratio" {{ imgatt }}style="--aspect-ratioapt: {{ image.aspect_ratio | default: 1 }}">
    <img data-pr-img class="t4s-product-main-img lazyloadt4s" loading="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ image | image_url: width: 1 }}" data-widths="[100,200,330,400,500,600,700,800,900]" data-optimumx="2" data-sizes="auto" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt | escape }}">
    <span class="lazyloadt4s-loader"></span>
    <div data-replace-img2></div>
    <noscript><img class="t4s-product-main-img" loading="lazy" width="{{ image.width }}" height="{{ image.height }}" src="{{ image | image_url: width: 600 }}"  alt="{{ image.alt | escape }}"></noscript>
</div>