{%- liquid
	assign top_heading = se_stts.top_heading
	assign top_subheading = se_stts.top_subheading
	assign design_heading = se_stts.design_heading
 -%}
{%- if top_heading != blank or top_subheading != blank -%}
	{{ 't4s-top-head.css' | asset_url | stylesheet_tag }}
	{%- if design_heading != 'heading_with_button' -%}
		<div class="t4s-top-heading t4s_des_title_{{ se_stts.design_heading }}{% if se_stts.heading_center %} t4s-text-center{% endif %}" style="--tophead-mb:{{ se_stts.tophead_mb }}px;--tophead-mb-tb:{{ se_stts.tophead_mb_tb }}px;--tophead-mb-mb:{{ se_stts.tophead_mb_mb }}px;" timeline hdt-reveal="slide-in">
			{%- if top_heading != blank -%}<h3 class="t4s-section-title t4s-title"><span>{{ top_heading }}</span></h3>{%- endif -%}
			{%- if se_stts.design_heading == "13" -%}
				<span class="t4s-heading-char t4s-d-block"><svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="82" height="30" viewBox="0 0 82.000000 9.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,9.000000) scale(0.050000,-0.050000)" fill="currentColor" stroke="none"> <path d="M20 161 c0 -10 17 -24 37 -30 21 -7 54 -30 73 -52 50 -54 142 -50 214 11 32 28 75 50 94 50 19 0 56 -22 82 -50 62 -66 157 -66 236 0 75 63 106 63 180 0 76 -64 152 -64 228 0 75 63 117 63 176 0 66 -70 160 -67 245 8 82 74 59 105 -26 34 -77 -65 -113 -65 -199 -2 -86 63 -141 63 -216 0 -75 -63 -113 -63 -188 0 -32 27 -82 50 -110 50 -27 0 -77 -22 -110 -50 -74 -63 -111 -63 -196 0 -37 28 -88 50 -112 50 -25 0 -72 -22 -104 -50 -33 -27 -75 -50 -94 -50 -19 0 -61 23 -94 50 -60 50 -116 66 -116 31z"/></g></svg></span>
			{%- endif -%}
			{%- if se_stts.design_heading == "6" -%}
				<span class="t4s-cbl">{%- if se_stts.icon_heading != blank -%}<i class="{{ se_stts.icon_heading }}"></i>{%- else -%}<span></span>{%- endif -%}</span>
			{%- endif -%}
			{%- if top_subheading != blank -%}<span class="t4s-section-des t4s-subtitle t4s-rte">{{ top_subheading }}</span>{%- endif -%}
		</div>
	{%- else -%}
		{%- assign button_style_hd = se_stts.button_style_hd -%}
		<div class="t4s-top-heading t4s_des_title_with_btn t4s-row t4s-g-lg-0 t4s-g-md-0 t4s-g-20 t4s-align-items-center t4s-justify-content-between{% if se_stts.heading_center %} t4s-text-center{% endif %}" style="--tophead-mb:{{ se_stts.tophead_mb }}px;--tophead-mb-tb:{{ se_stts.tophead_mb_tb }}px;--tophead-mb-mb:{{ se_stts.tophead_mb_mb }}px;" timeline hdt-reveal="slide-in">
			<div class="t4s-col-item t4s-col-auto t4s-col-md">
				{%- if top_heading != blank -%}<h3 class="t4s-section-title t4s-title">{{ top_heading }}</h3>{%- endif -%}
				{%- if top_subheading != blank -%}<span class="t4s-section-des t4s-subtitle t4s-rte">{{ top_subheading }}</span>{%- endif -%}
			</div>
			<div class="t4s-col-item t4s-col-auto"><a class="t4s-btn t4s-btn-base t4s-btn-style-{{ button_style_hd }} t4s-btn-size-{{ se_stts.btn_size_hd }} t4s-btn-color-{{ se_stts.btn_cl_hd }}{% if button_style_hd == 'default' or button_style_hd == 'outline' %} t4s-btn-effect-{{ se_stts.button_effect_hd }}{% endif %}" href="{{ url | default: '/' }}" >{{ se_stts.button_label_hd | default: 'Button label' }} {%- if se_stts.btn_icon_hd -%}<svg  class="t4s-btn-icon" viewBox="0 0 14 10"><use xlink:href="#t4s-icon-btn"></use></svg>{%- endif -%}</a></div>
		</div>
	{%- endif -%}
{%- endif -%}