<!-- sections/video-featured.liquid -->
{{ 't4s-section.css' | asset_url | stylesheet_tag }}
{{ 't4s-hero.css' | asset_url | stylesheet_tag }}
{%- liquid
	assign sid = section.id
    assign stt_layout = section.settings.layout
    assign bg_opacity = section.settings.bg_opacity | divided_by: 100.0 
    assign bg_overlay = section.settings.bg_overlay | color_modify: 'alpha', bg_opacity 
    assign se_height = section.settings.se_height
    assign video_url = section.settings.video_url 
    assign autoplay = section.settings.au_video
    assign loop = section.settings.loop_video

    if stt_layout == 't4s-se-container' 
    assign html_layout = '<div class="t4s-container">__</div>' | split: '__'
    else
      assign html_layout = '__' | split: '__'
    endif
 -%}
{%- if se_height != "t4s_ratio_fh" -%}
  {%- capture append_style -%}--aspect-ratio-cusdt:{{ section.settings.height_dk }}px;--aspect-ratio-custb:{{ section.settings.height_tb }}px;--aspect-ratio-cusmb:{{ section.settings.height_mb }}px;{%- endcapture -%}
{%- endif -%}
<div class="t4s-section-inner t4s_nt_se_{{ sid }}" {% render 'section_style', se_stts: section.settings, append_style: append_style -%}>
  {{- html_layout[0] -}}
    <div data-t4s-animate class="t4s-bg-video t4s-video t4s-row-cols-1 t4s-gx-0 {{ se_height }} t4scuspx1_{{ section.settings.custom_mb }} t4scuspx2_{{ section.settings.custom_tb }} t4scuspx3_{{ section.settings.custom_dk }}">
      <div class="t4s-hero-inner t4s-col-item t4s-pr t4s-oh" timeline hdt-reveal="slide-in">
        <div class="t4s_ratio">
          {%- if section.settings.source == '2' -%}
            {% # theme-check-disable %}
            <video controls preload="metadata" playsinline {% if autoplay %} autoplay muted{% endif %} {% if loop %} loop{% endif %} aria-label="{{ section.settings.video.alt }}" poster="{{ section.settings.video.preview_image.src | image_url: width: section.settings.video.preview_image.width }}" width="{{ section.settings.video.preview_image.width }}" height="{{ section.settings.video.preview_image.height }}" loading="lazy">
              {%- for media in section.settings.video.sources -%}
                <source src="{{ media.url }}" type="{{ media.mime_type }}">
              {%- endfor -%}
              <img src="{{ section.settings.video.preview_image.src | image_url: width: 100 }}" width="{{ section.settings.video.preview_image.width }}" height="{{ section.settings.video.preview_image.height }}" loading="lazy">
            </video>
            {% # theme-check-enable %}
            {% comment %} <video controls{% if autoplay %} data-autoplay{% endif %}{% if loop %} loop{% endif %} data-muted preload="none" class="lazyloadt4s" src="{{ section.settings.file_link | escape }}"></video> {% endcomment %}
          {%- elsif video_url.type == 'youtube' -%}
            <iframe class="lazyloadt4s" data-src="//www.youtube.com/embed/{{ video_url.id }}?controls=1{% if autoplay %}&autoplay=1{% endif %}{% if loop %}&playlist={{ video_url.id }}&loop=1{% endif %}&showinfo=0&rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
          {%- elsif video_url.type == 'vimeo' -%}
            <iframe class="lazyloadt4s" data-src="//player.vimeo.com/video/{{ video_url.id }}?portrait=0{% if autoplay %}&autoplay=1{% endif %}{% if loop %}&loop=1{% endif %}&byline=0&color={{ settings.accent_color | remove_first: '#' }}" frameborder="0"></iframe>
          {%- endif -%}
        </div>
        <div class="t4s-hero-overlay t4s-full-width-link t4s-pe-none" style="--bg-overlay:{{ bg_overlay }};"></div>
      </div>
    </div>
  {{- html_layout[0] -}}
</div>
{% schema %}
{
  "name": "Video featured",
  "tag": "section",
  "class": "t4s-section t4s-section-all t4s-video-featured",
  "settings": [
    {
      "type": "header",
      "content": "1. General options"
    },
    {
      "type": "select",
      "id": "se_height",
      "label": "Section height",
      "default": "t4s_ratio16_9",
      "options": [
        {
          "value": "t4s_ratio_po",
          "label": "Preserve original ratio"
        },
        {
          "value": "t4s_ratio_fh",
          "label": "Full screen height"
        },
        {
          "value": "t4s_ratio_cuspx",
          "label": "Custom height"
        },
        {
          "value": "t4s_ratio16_9",
          "label": "16:9"
        },
        {
          "value": "t4s_ratio4_3",
          "label": "4:3"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "custom_dk",
      "label": "Use custom height (Desktop)",
      "default": true
    },
    {
      "type": "number",
      "id": "height_dk",
      "label": "Section height (Desktop)",
      "default": 600
    },
    {
      "type": "checkbox",
      "id": "custom_tb",
      "label": "Use custom height (Tablet)",
      "default": true
    },
    {
      "type": "number",
      "id": "height_tb",
      "label": "Section height (Tablet)",
      "default": 400
    },
    {
      "type": "checkbox",
      "id": "custom_mb",
      "label": "Use custom height (Mobile)",
      "default": true
    },
    {
      "type": "number",
      "id": "height_mb",
      "label": "Section height (Mobile)",
      "default": 250
    },
    {
      "type": "select",
      "id": "source",
      "label": "Source video",
      "default": "2",
      "options": [
        {
          "value": "1",
          "label": "Youtube"
        },
        {
          "value": "2",
          "label": "Upload file"
        }
      ]
    },
    {
      "id": "video_url",
      "type": "video_url",
      "label": "1. Video url",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "type": "video",
      "id": "video",
      "label": "2. Video"
    },
    {
      "type": "checkbox",
      "id": "au_video",
      "label": "Enable video autoplay",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "loop_video",
      "label": "Enable video looping",
      "default": true
    },
    {
      "type": "color",
      "id": "bg_overlay",
      "label": "Overlay",
      "default": "#000"
    },
    {
      "type": "range",
      "id": "bg_opacity",
      "label": "Overlay opacity",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "2. Design options"
    },
    {
      "type": "select",
      "id": "layout",
      "default": "t4s-container-fluid",
      "label": "Layout",
      "options": [
        {
          "value": "t4s-se-container",
          "label": "Container"
        },
        {
          "value": "t4s-container-fluid",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "color",
      "id": "cl_bg",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "cl_bg_gradient",
      "label": "Background gradient"
    },
    {
      "type": "text",
      "id": "mg",
      "label": "Margin",
      "info": "Margin top, margin right, margin bottom, margin left. If you do not use it please blank.",
      "default": ",,50px,",
      "placeholder": ",,50px,"
    },
    {
      "type": "text",
      "id": "pd",
      "label": "Padding",
      "info": "Padding top, padding right, padding bottom, padding left. If you do not use it please blank.",
      "placeholder": "50px,,50px,"
    },
    {
      "type": "header",
      "content": "+ Design tablet options"
    },
    {
      "type": "text",
      "id": "mg_tb",
      "label": "Margin",
      "default": ",,50px,",
      "placeholder": ",,50px,"
    },
    {
      "type": "text",
      "id": "pd_tb",
      "label": "Padding",
      "placeholder": "50px,,50px,"
    },
    {
      "type": "header",
      "content": "+ Design Mobile Options"
    },
    {
      "type": "text",
      "id": "mg_mb",
      "label": "Margin",
      "default": ",,30px,",
      "placeholder": ",,50px,"
    },
    {
      "type": "text",
      "id": "pd_mb",
      "label": "Padding",
      "placeholder": ",,50px,"
    }
  ],
  "presets": [
    {
      "category": "group4",
      "name": "Video featured"
    }
  ]
}
{% endschema %}